<% headings.each do |heading| %>
   <li>
     <a href='#<%= heading['id'] %>'><%= heading['text'] %></a>
       <% if heading['headers'].present? %>
         <ol class="dash-list">
           <%= render 'nav_item', headings: heading['headers'] %>
         </ol>
       <% end %>
   </li>
<% end %>

