<header>
  <div class="inner-block">
    <span class="category">Competition &amp; Markets Authority case</span>
    <h1>Private healthcare market investigation</h1>
  </div>
  <div class="metadata">
    <dl class="inner-block">
      <dt>Date of referral:</dt>
      <dd><time title="2014-01-22T12:38:13+00:00">4 April 2012</time></dd>

      <dt>Statutory deadline:</dt>
      <dd><time title="2014-01-22T12:38:13+00:00">3 April 2014</time></dd>

      <dt>Page history:</dt>
      <dd class="js-toggle-change-notes change-notes">
      Updated <time class="published-at date" title="2014-01-22T12:38:13+00:00">14 October 2013</time>, <span class="toggle">see all updates</span>
      </dd>

      <dt>Sector:</dt>
      <dd><a href="#">Healthcare and medical equipment</a></dd>

      <dt>Case type:</dt>
      <dd><a href="#">Market investigation</a></dd>

      <dt>Case state:</dt>
      <dd><a href="#">Open</a></dd>
    </dl>
  </div>
  <aside>
    <div class="inner-block">
      <p><a href="#" class="tag">Benefits</a> like<br><a href="#">Winter Fuel Payment</a></p>
    </div>
  </aside>
  <div class='summary'>
    <div class='inner-block'>
      <p>
        The CMA is determining remedies for features of the market or markets for the supply or acquisition of Private Healthcare which prevent, restrict or distort competition.
      </p>
    </div>
  </div>
  <div class='updates'>
    <div class='inner-block'>
      Get updates to this case
      <ul>
        <li><a href='#'><span class='email'>get updates via</span>email</a></li>
        <li><a href='#'><span class='feed'>get updates via</span>feed</a></li>
      </ul>
    </div>
  </div>
</header>

<nav>
  <ol class="inner-block">
    <li>
      <a href="#phase-two">Phase 2</a>
      <ol class="dash-list">
        <li><a href="#core-documents">Core documents</a></li>
        <li><a href="#news-releases-and-announcements">News releases and announcements</a></li>
        <li><a href="#analysis">Analysis</a></li>
        <li><a href="#evidence">Evidence</a></li>
        <li><a href="#annotated-issues-statement">Annotated issues statement</a></li>
        <li><a href="#provisional-findings-report">Provisional findings report</a></li>
        <li><a href="#private-healthcare-market-investigation">Private healthcare market investigation</a></li>
      </ol>
    </li>
    <li>
      <a href="#phase-one">Phase 1</a>
      <ol class="dash-list">
        <li><a href="#summary-initial-findings">Summary of initial findings and decision</a></li>
      </ol>
    </li>
    <li class="contact"><a href="#contacts">Contacts</a></li>
  </ol>
</nav>


<pre>
<%= require 'pp'; @document.to_hash.pretty_inspect %>
</pre>

<div class="content">
  <div class="inner-block">
    <div class="govspeak">
      <h2 id="administrative-timetable">Administrative timetable*</h2>
      <table>
        <thead>
          <tr>
            <th>Phase 2</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>April/ May 2013</td>
            <td>Publish statement of issues</td>
          </tr>
          <tr>
            <td>30 April 2013</td>
            <td>Main party hearings, verifying information, considering provisional findings</td>
          </tr>
          <tr>
            <td>May 2013</td>
            <td>Deadline for all parties’ responses/submissions required before pro-visional findings</td>
          </tr>
          <tr>
            <td>June 2013</td>
            <td>Notify provisional findings and consider possible remedies Response hearing(s)</td>
          </tr>
          <tr>
            <td>August 2013</td>
            <td>Publish final report</td>
          </tr>
          <tr>
            <td>5 September 2013</td>
            <td>Statutory deadline</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Phase 1</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>15 June 2012</td>
            <td>Merger reference made</td>
          </tr>
          <tr>
            <td>June – July 2012</td>
            <td>Gathering information, issuing questionnaires</td>
          </tr>
          <tr>
            <td>December 2012 – March 2013 Early March 2013</td>
            <td>Gathering information, hearing third parties</td>
          </tr>
        </tbody>
      </table>
      <p class="administrative-timetable">*Revised on 26 June 2013 as required by Rule 6 of the Competition Commission Rules of Procedure.</p>
      <h2 id="phase-two" class="label">Phase 2</h2>
      <h3 id="core-documents">Core documents</h3>
      <p>These documents are fundemental to the case and form the basis of any inquiry into the matter.</p>
      <ul>
        <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/healthcare_terms_of_reference.pdf">Terms of reference</a> <span class="meta">PDF, 18 Kb 4 April 2012</span></li>
        <li>Inquiry Group: <a href="http://www.competition-commission.org.uk/about-us/members/council-members/roger-witcomb">Roger Witcomb</a> (Chairman of the Group), <a href="http://www.competition-commission.org.uk/about-us/members/reporting-panel-members/jayne-almond">Jayne Almond</a>, <a href="http://www.competition-commission.org.uk/about-us/members/reporting-panel-members/tony-morris">Tony Morris</a>, <a href="http://www.competition-commission.org.uk/about-us/members/reporting-panel-members/jeremy-peat">Jeremy Peat</a>, <a href="http://www.competition-commission.org.uk/about-us/members/reporting-panel-members/jonathan-whiticar">Jonathan Whiticar</a></li>
        <li>
        <a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/healthcare_disclosure_of_interests.pdf">Disclosures of interest</a> <span class="meta">PDF, 130 Kb</span>
        <ul class="additional-list-items core-docs">
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/131223_administrative_timetable.pdf">Administrative timetable</a> <span class="meta">PDF, 67 Kb</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/120622_issues_statement.pdf">Issues statement</a> <span class="meta">PDF, 103 Kb 22 June 2012</span></li>
          <li><a href="http://www.competition-commission.org.uk/our-work/directory-of-all-inquiries/private-healthcare-market-investigation/annotated-issues-statement">Annotated issues statement</a> <span class="meta">28 February 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130828_remedies_notice.pdf">Notice of possible remedies</a> <span class="meta">PDF, 268 Kb 28 August 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130828_notice_of_pfs.pdf">Notice of provisional findings</a> <span class="meta">PDF, 109 Kb 28 August 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130828_summary_of_pfs.pdf">Summary of provisional findings</a> <span class="meta">PDF, 87 Kb 28 August 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/our-work/directory-of-all-inquiries/private-healthcare-market-investigation/provisional-final-report">Provisional findings report</a> <span class="meta">2 September 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/140116_summary_of_provisional_decision_on_remedies.pdf">Summary of provisional decision on remedies</a> <span class="meta">PDF, 126 Kb</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/140121_private_healthcare_pdr_summary_and_sections_1_to_4__.pdf">Provisional decision on remedies</a> <span class="meta">PDF, 1.5 Mb and</span> <a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/140121_appendices_glossary_.pdf">Appendices and Glossary</a> <span class="meta">PDF, 1.9 Mb 21 January 2014</span></li>
        </ul>
        </li>
      </ul>
      <p class="see-all"><a href="#" class="one">+ 9 others</a></p>
      <h3 id="news-releases-and-announcements">News releases and announcements</h3>
      <p>This section links to all news items and announcements that relate to the investigation.</p>
      <p class="see-all"><a href="#">See all news and announcements</a> </p>
      <h3 id="analysis">Analysis</h3>
      <p>These document are fundemental to the case and form the basis of any inquiry into the matter.</p>
      <h4>Surveys</h4>
      <ul>
        <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/survey_patients_report.pptx">Patient Survey GFK Report</a> <span class="meta">PPT, 18 Kb 27 February 2013</span></li>
        <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/survey_patient_technical_report.pdf">Survey Patients Technical Report</a> <span class="meta">PDF, 18 Kb 27 February 2013</span></li>
        <li>
        <a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/survey_healthcare_professionals_report.pptx">Survey Healthcare Professionals GFK Report</a> <span class="meta">PPT, 18 Kb 27 February 2013</span>
        <ul class="additional-list-items analysis-surveys">
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130213_cc_patient_survey_combined_suppressed.pdf">Survey Patient (Private &amp; PPU)</a> <span class="meta">PDF, 211 Kb 27 February 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130213_cc_patient_survey_private_suppressed.pdf">Survey Patient Tables</a> <span class="meta">PDF, 2.1 Mb 27 February 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130213_cc_consultant_survey_suppressed.pdf">Survey Consultant Tables</a> <span class="meta">PDF, 1.0 Mb 27 February 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130213_cc_gp_suppressed.pdf">Survey GP Tables</a> <span class="meta">PDF, 781 Kb 27 February 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130320_survey_moderator_report.pdf">Survey Moderator Report</a> <span class="meta">PDF, 115 Kb 20 March 2013</span></li>
          <li><a href="http://www.competition-commission.org.uk/assets/competitioncommission/docs/2012/private-healthcare-market-investigation/130319_hcp_technical_report.pdf">Technical Report - GP and private consultants survey</a> <span class="meta">PDF, 794 Kb 19 March 2013</span></li>
        </ul>
        </li>
      </ul>
      <p class="see-all"><a href="#" class="two">+ 6 others</a></p>
    </div>
  </div>
</div>

<footer>
  <div class='history'>
    <div class="inner-block">
      <dl>
        <dt>Published:</dt>
        <dd><time title="2014-01-22T12:38:13+00:00">4 April 2012</time></dd>
        <dt>Updated:</dt>
        <dd><time title="2014-01-22T12:38:13+00:00">10 April 2012</time></dd>
      </dl>
      <a href='#'>+ full page history</a>
    </div>
  </div>
  <div class='links'>
    <dl class='inner-block'>
      <dt>Organisations:</dt>
      <dd>
        <ul>
          <li><a href='#'>Bona Vacantia</a></li>
          <li><a href='#'>Treasury Solicitor's Department</a></li>
        </ul>
      </dd>
      <dt>Sector:</dt>
      <dd><a href='#'>Oil and gas Exploration and petroleum</a></dd>
      <dt>Collection:</dt>
      <dd><a href='#'>Oil and gas Exploration and petroleum</a></dd>
      <dt>Policy:</dt>
      <dd>
        <ul>
          <li><a href='#'>Energy</a></li>
          <li><a href='#'>Providing regulation and licensing of energy industries and infrastructure</a></li>
          <li><a href='#'>Maintaining UK energy security</a></li>
        </ul>
      </dd>
      <dt>Minister:</dt>
      <dd><a href='#'>Michael Fallon MP</a></dd>
    </dl>
  </div>  
</footer>
