<header>
  <div class="inner-block">
    <span class="category">Competition &amp; Markets Authority case</span>
    <h1>Private healthcare market investigation</h1>
  </div>
  <div class="metadata">
    <dl class="inner-block">
      <dt>Date of referral:</dt>
      <dd><time class="published-at date" title="2014-01-22T12:38:13+00:00">4 April 2012</time></dd>

      <dt>Statutory deadline:</dt>
      <dd><time class="published-at date" title="2014-01-22T12:38:13+00:00">3 April 2014</time></dd>

      <dt>Page history:</dt>
      <dd class="js-toggle-change-notes change-notes">
      Updated <time class="published-at date" title="2014-01-22T12:38:13+00:00">14 October 2013</time>, <span class="toggle">see all updates</span>
      </dd>

      <dt>Sector:</dt>
      <dd><a href="#">Healthcare and medical equipment</a></dd>

      <dt>Case type:</dt>
      <dd><a href="#">Market investigation</a></dd>

      <dt>Case state:</dt>
      <dd><a href="#">Open</a></dd>
    </dl>
  </div>
  <aside>
    <div class="inner-block">
      <p>Benifis: Winter Fuel Payment</p>
    </div>
  </aside>
</header>
<nav>
</nav>
<pre>
<%= require 'pp'; @document.to_hash.pretty_inspect %>
</pre>
