@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";

@import "reset";

#wrapper {
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter*2;
  }

  #page {
    @extend %contain-floats;
  }

  header {
    @extend %contain-floats;
    padding: $gutter-half 0;

    @include media(tablet){
      padding: $gutter-one-third 0 $gutter;
    }

    .category {
      text-decoration:none;
    }

    .govuk-metadata {
      // Temporary margin addition.
      // Should be removed once this default margin has been
      // added to the component itself.
      margin-bottom: $gutter * 1.5;

      dt {
        min-width: 134px;
      }
    }
    .summary {
      @include core-19;

      @include media(tablet){
        @include core-24;
      }
    }
  }

  .sidebar {
    @include media(tablet){
      padding-bottom: $gutter*2;
    }

    ol {
      list-style: none;
      @include core-16;
      padding-bottom: $gutter;

      ol {
        padding-bottom:0;
      }
    }
    a {
      text-decoration: none;
    }
    li {
      padding-top: 10px;
      font-weight: bold;
    }
  }
  .dash-list {
    li {
      list-style-position: inside;
      padding-right: $gutter-half;
      padding-top: 5px;
      font-weight: normal;

      @media (min-width: 1px ){ // target modern browsers
        margin-left: $gutter-half;
        list-style: none;
        &:before {
          content: "-";
          position: relative;
          float: left;
          width: $gutter-half;
          margin-left: $gutter-half*-1;
        }
      }
    }
  }
  footer {
    clear: both;
  }
}
